body,
html {
  height: 100%;
}

h1 {
  Color:white;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  display:flex;
  justify-content: center;
  text-decoration: underline;
}

.logo {
  max-height: 100px;
}

.card-text {
  display:flex;
  justify-content: center;
  font-style: italic;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.bg {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  
}
